*, *:before, *:after {
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    display: block;
}

/* index */

.article__container {
    padding: 0 50px 50px 50px;
    font-family: 'Arial';
    position: relative;
    display: block;
    width: 100%;
}

.article__container .container__infoSite {
    margin: 0 auto 75px auto;
    width: 95%;
}

.article__container .container__method {
    justify-content: center;
    margin: 25px auto;
    display: flex;
    right: 0;
    left: 0;
}

.container__method .method__image {
    border: 3px solid #C83033;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.method__image img {
    position: absolute;
    min-width: 100%;
    height: 100%;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.method__info {
    margin: 0 25px;
    width: 60%
}

.method__info h2 {
    padding-left: 25px;
    line-height: 50px;
    background: #333;
    font-size: 28px;
    height: 50px;
    width: 100%;
    color: #FFF;
}

.method__info h2 a {
    text-decoration: underline;
    color: #FFF;
}

.method__info p {
    text-align: justify;
    overflow: hidden;
    font-size: 18px;
    padding: 10px 0;
}

.method__link {
    text-decoration: underline;
    font-size: 18px;
}

/* /index */
