*, *:before, *:after {
    list-style-type: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 0;
    margin: 0;
}

body {
    display: block;
}

/* authors */

.article__container {
    position: relative;
    display: block;
    padding: 50px;
    width: 100%;
}

    .article__container .container__author {
        justify-content: center;
        margin: 25px auto;
        display: flex;
        right: 0;
        left: 0;
    }

.container__author .author__image {
    border: 3px solid #C83033;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.author__image img {
    position: absolute;
    min-width: 100%;
    height: 100%;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.author__info {
    border-bottom: 3px solid #C83033;
    font-family: 'Arial';
    margin: 0 25px;
    width: 60%
}

    .author__info h2 {
        padding-left: 25px;
        font-size: 28px;
        background: #333;
        line-height: 50px;
        height: 50px;
        width: 100%;
        color: #FFF;
    }

    .author__info p {
        text-align: justify;
        overflow: hidden;
        font-size: 18px;
        padding: 10px 0;
    }



/* /authors */
